<%- include("../partials/header") %>

<form action="/flights" method="POST">
  <label
    >Airline
    <select name="airline">
      <option value="American" selected>American</option>
      <option value="Southwest" selected>Southwest</option>
      <option value="United" selected>United</option>
    </select>
  </label>
  <br />

  <label
    >Airport
    <select name="airport">
      <option value="AUS" selected>AUS</option>
      <option value="DFW" selected>DFW</option>
      <option value="DEN" selected>DEN</option>
      <option value="LAX" selected>LAX</option>
      <option value="SAN" selected>SAN</option>
    </select>
  </label>
  <br />

  <label>Flight Number: <input type="number" name="flightNo" /></label>
  <br />

  <label
    >Depart Date:
    <input type="datetime-local" name="departs" />
  </label>
  <br />
  <input type="submit" value="Add Flight" />
</form>

<%- include("../partials/footer") %> 